 // Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_no_shows {
  color: #7e8a94;
  font-weight: 300;
}

#welcome_text {
  font-size: 75px;
}

#text_1 {
  margin-top: 35px;
  margin-bottom: 3px;
}

#text_2 {
  text-decoration: underline;
  font-size: 16px;
  color: #7e8a94;
}

#text_2:hover {
  text-transform: uppercase;
  text-decoration: none;
  color:#f25f70;
  font-weight:600;
}

#modal_text {
  color:#7e8a94;
  font-weight:600;
}
