// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_no_shows {
  color: #7e8a94;
  font-weight: 300;
  margin-top: 100px;
}

#welcome_text {
  font-size: 75px;
}

#text_1 {
  margin-top: 35px;
  margin-bottom: 3px;
}

#text_2 {
  text-decoration: underline;
  font-size: 16px;
  color: #7e8a94;
}

#text_2:hover {
  text-transform: uppercase;
  text-decoration: none;
  color:#f25f70;
  font-weight:600;
}

#modal_text {
  color:#7e8a94;
  font-weight:600;
}

#no_shows {
  color: #7e8a94;
}

#show_today {
  height: 370px;
  background-size: 253px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

#overlay_today {
  background: rgba(0,0,0,0.9);
  height: 75px;
  margin-top: 281px;
}

#overlay_text_today {
  text-align: left;
  color: #fff;
  padding: 10px;
}

#overlay_name_today {
  color: #fff;
  font-size: 20px;
	font-weight: 600;
}

#overlay_name_today:hover {
  text-transform: uppercase;
  color:#f25f70;
  font-weight:600;
}

#show_upcoming {
  height: 300px;
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

#overlay_upcoming {
  background: rgba(0,0,0,0.9);
  height: 75px;
  width: 200px;
  margin-left: 27px;
  margin-top: 212px;
}

#overlay_text_upcoming {
  text-align: left;
  color: #fff;
  font-size: 12px;
  padding: 10px;
}

#overlay_name_upcoming {
  color: #fff;
  font-size: 18px;
	font-weight: 600;
}

#overlay_name_upcoming:hover {
    text-transform: uppercase;
    color:#f25f70;
    font-weight:600;
}