#header_menu {
	background-color: #F25F6F;
}

#header_text {
  color: #FFF;
}

#header_left {
	margin-left: 130px;
}

#header_right {
	margin-right: 130px;
}

.pointer {
  cursor: pointer;
}

.float-right {
	float: right;
}

#show-logo {
	float: left;
	margin-right: 20px;
}

#show-name {
	color: #565a5f;
}

#show-name:hover {
    text-transform: uppercase;
    // color:#8ad8c7;
    color:#f25f70;
    font-weight:600;
}

#season-details {
	margin-left: 15px;
	margin-right: 15px;
}
