#header_menu {
	background-color: #F25F6F;
}

#header_text {
  color: #FFF;
}

.pointer {
  cursor: pointer;
}

.ui.small.image {
	float: left;
	margin-right: 20px;
}

.float-right {
	float: right;
}

#season-details {
	margin-left: 15px;
	margin-right: 15px;
}
