@media only screen and (max-width: 600px) {
    .review-container,.review-container-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .review-write{
        display:flex;
        flex-direction: column;
        padding: 1em;
        margin-bottom: 1em;
        background: white;
        border-radius: 3px;
        width: 90%;
        transition-duration: .5s;
        box-shadow: 0px 0px 2px #a1887f;

        textarea{
            width: 100%;
            height: 8em;
            resize: none;
            padding: .5em;
            font-family: inherit;
            border-radius: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: #bdbdbd;
        }

        span{
            line-height: 2em;
            font-weight: 500;
        }

        button{
            background-color: #21ba45;
            color: #fff;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            border-radius: 3px;
            padding: .5em 1.25em;
            font-size: .9em;
            margin-top: .3em;
            font-weight: 500;
        }

        button:hover{
            background-color: #16ab39;
        }
    }

    .review-label{
        font-size: 1.2em;
        font-weight: 700;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #bdbdbd;
        padding-bottom: .5em;
        margin-bottom: .75em;
    }

    .reviews{
        display:flex;
        flex-direction: column;
        padding: 1em;
        background: white;
        border-radius: 3px;
        width: 90%;
        transition-duration: .5s;
        box-shadow: 0px 0px 2px #a1887f;
    }

    .review-individual{
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #bdbdbd;
        padding-bottom: 1em;
        margin-bottom: .75em;
    }

    .review-name{
        font-weight: 100;
        font-size: 1em;
    }

    .review-button{
        text-decoration: none;
        margin-top: .5em;

        a{
            color: #fff;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            border-radius: 3px;
            padding: .25em 1.25em;
            font-size: .85em;
            font-weight: 500;
        }
        a:hover{
            color: #fff;
        }
        .edit{
            background-color: #21ba45;
        }
        .edit:hover{
            background-color: #16ab39;
        }
        .delete{
            background-color: #db2828;
        }
        .delete:hover{
            background-color: #d01919;
        }
    }
    
    .review-edit{
        width: 90%;
        margin-bottom: 1em;
        
        a{
            color: black;
            background-color: white;
            padding: .5em 1em;
            margin-right: .25em;
            border-style: solid;
            border-width: 1px;
            border-color: transparent;
            border-radius: 3px;
            box-shadow: 0px 0px 2px #a1887f;
        }

        a:hover{
            color: black;
            box-shadow: 0px 0px 5px #a1887f;
            background-color: #f5f5f5;
        }
    }
}

@media only screen and (min-width: 601px) and (max-width: 920px) {
    .review-container,.review-container-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .review-write{
        display:flex;
        flex-direction: column;
        padding: 1em;
        margin-bottom: 1em;
        background: white;
        border-radius: 3px;
        width: 90%;
        transition-duration: .5s;
        box-shadow: 0px 0px 2px #a1887f;

        textarea{
            width: 100%;
            height: 6em;
            resize: none;
            padding: .5em;
            font-family: inherit;
            border-radius: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: #bdbdbd;
        }

        span{
            line-height: 2em;
            font-weight: 500;
        }

        button{
            background-color: #21ba45;
            color: #fff;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            border-radius: 3px;
            padding: .5em 1.25em;
            font-size: .9em;
            margin-top: .3em;
            font-weight: 500;
        }

        button:hover{
            background-color: #16ab39;
        }
    }

    .review-label{
        font-size: 1.2em;
        font-weight: 700;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #bdbdbd;
        padding-bottom: .5em;
        margin-bottom: .75em;
    }

    .reviews{
        display:flex;
        flex-direction: column;
        padding: 1em;
        background: white;
        border-radius: 3px;
        width: 90%;
        transition-duration: .5s;
        box-shadow: 0px 0px 2px #a1887f;
    }

    .review-individual{
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #bdbdbd;
        padding-bottom: 1em;
        margin-bottom: .75em;
    }

    .review-name{
        font-weight: 100;
        font-size: 1em;
    }

    .review-button{
        text-decoration: none;
        margin-top: .5em;

        a{
            color: #fff;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            border-radius: 3px;
            padding: .25em 1.25em;
            font-size: .85em;
            font-weight: 500;
        }
        a:hover{
            color: #fff;
        }
        .edit{
            background-color: #21ba45;
        }
        .edit:hover{
            background-color: #16ab39;
        }
        .delete{
            background-color: #db2828;
        }
        .delete:hover{
            background-color: #d01919;
        }
    }

    .review-edit{
        width: 90%;
        margin-bottom: 1em;
        
        a{
            color: black;
            background-color: white;
            padding: .5em 1em;
            margin-right: .25em;
            border-style: solid;
            border-width: 1px;
            border-color: transparent;
            border-radius: 3px;
            box-shadow: 0px 0px 2px #a1887f;
        }

        a:hover{
            color: black;
            box-shadow: 0px 0px 5px #a1887f;
            background-color: #f5f5f5;
        }
    }
}

@media only screen and (min-width: 921px){
    .review-container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: flex-start;
        width: 80%;
        margin: 0 10%;
    }

    .review-container-2{
        width: 80%;
        margin: 0 10%;
    }

    .review-edit{
        width: 90%;
        margin-bottom: 1em;
        
        a{
            color: black;
            background-color: white;
            padding: .5em 1em;
            margin-right: .25em;
            border-style: solid;
            border-width: 1px;
            border-color: transparent;
            border-radius: 3px;
            box-shadow: 0px 0px 2px #a1887f;
        }

        a:hover{
            color: black;
            box-shadow: 0px 0px 5px #a1887f;
            background-color: #f5f5f5;
        }
    }

    .review-write{
        display:flex;
        flex-direction: column;
        padding: 1em;
        margin-bottom: 1em;
        background: white;
        border-radius: 3px;
        width: 40%;
        transition-duration: .5s;
        box-shadow: 0px 0px 2px #a1887f;

        textarea{
            width: 100%;
            height: 15em;
            resize: none;
            padding: .5em;
            font-size: 1.1em;
            font-family: inherit;
            border-radius: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: #bdbdbd;
        }

        span{
            line-height: 2em;
            font-size: 1.35em;
            font-weight: 700;
        }

        button{
            background-color: #21ba45;
            color: #fff;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            border-radius: 3px;
            padding: .5em 1.25em;
            font-size: 1em;
            margin-top: .5em;
            font-weight: 500;
        }

        button:hover{
            background-color: #16ab39;
        }
    }

    .review-label{
        font-size: 1.5em;
        font-weight: 700;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #bdbdbd;
        padding-bottom: .5em;
        margin-bottom: .75em;
    }

    .reviews{
        display:flex;
        flex-direction: column;
        padding: 1em;
        background: white;
        border-radius: 3px;
        width: 55%;
        transition-duration: .5s;
        box-shadow: 0px 0px 2px #a1887f;
    }

    .review-individual{
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #bdbdbd;
        padding-bottom: 1em;
        margin-bottom: .75em;
    }

    .review-name{
        font-weight: 100;
        font-size: 1em;
    }

    .review-button{
        text-decoration: none;
        margin-top: .5em;

        a{
            color: #fff;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            border-radius: 3px;
            padding: .25em 1.25em;
            font-size: .85em;
            font-weight: 500;
        }
        a:hover{
            color: #fff;
        }
        .edit{
            background-color: #21ba45;
        }
        .edit:hover{
            background-color: #16ab39;
        }
        .delete{
            background-color: #db2828;
        }
        .delete:hover{
            background-color: #d01919;
        }
    }
}