<%= render :file=> 'app/views/partials/header.html.erb' %>

<div class="ui computer tablet only stackable grid" style="margin-top:50px; margin:auto; width:90%">
  <div class="ui four column computer only row">
    <%= render 'show-index' %>
  </div>
  <div class="ui three column tablet only row">
    <%= render 'show-index' %>
  </div>
</div>

<div class="ui mobile only stackable grid" style="margin-top:50px;">
  <div class="ui row">
    <%= render 'show-index' %>
  </div>
</div>
