<%= render :file=> 'app/views/partials/header.html.erb' %>

<br><br><br><br><br>

<div class="ui container">
  <%= render :file=> 'app/views/partials/message.html.erb' %>
</div>

<br>

<%= render 'show', form: @show %>
