<%= render :file=> 'app/views/partials/header.html.erb' %>

<div class="review-container">
    <div class="review-edit">
        <%= link_to 'Show', @review %> 
        <%= link_to 'Back', reviews_path %>
    </div>

    <%= render 'form', review: @review %>
</div>