<%= render :file=> 'app/views/partials/header.html.erb' %>

<div class="review-container-2">
    <div class="review-edit">
        <a href="/shows/">Show</a> 
        <%= link_to 'Back', reviews_path %>
    </div>

    <%= render 'form', review: @review %>
</div>